body {
  font-family: 'Roboto', sans-serif;
}

.logo {
    padding-left: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.phone {
  margin-top: 15px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  color: #002360;
  font-weight: bold;
}

.address {
  margin-top: 0;
  margin-bottom: 2px;
  font-family: 'Roboto', sans-serif;
  color: #002360;
  font-weight: bold;
}

.navbar-default {
    color: #FFFFFF;
    background-color: #CC3333;
}
